div, fieldset, input, select {
    padding: 5px;
    font-size: 1em
}

input {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

#viacheckbox {
    width: 10%;
    border: #5aaf6f;
    border-width: 1em;
}

select {
    width: 100%
}

textarea {
    resize: none;
    width: 98%;
    height: 318px;
    padding: 5px;
    overflow: auto
}

table {
    width: 100%;
}

body {
    text-align: center;
    font-family: verdana
}

td {
    padding: 0
}

button {
    border: 0;
    border-radius: .3rem;
    background-color: #1fa3ec;
    color: #fff;
    line-height: 2.4rem;
    font-size: 1.2rem;
    width: 100%;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    cursor: pointer
}

button:hover {
    background-color: #0e70a4
}

.bred {
    background-color: #d43535
}

.bred:hover {
    background-color: #931f1f
}

.bgrn {
    background-color: #47c266
}

.bgrn:hover {
    background-color: #5aaf6f
}

a {
    text-decoration: none
}

.p {
    float: left;
    text-align: left
}

.q {
    float: right;
    text-align: right
}